<!DOCTYPE html>
<head>
    <%- include ("partials/head.ejs")%>
</head>
<body style="background-color: rgb(252, 252, 253)"></body>
<div class="container-fluid" style="margin-top: 20px;" >
    <div class="card-columns">
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title text-success">Play Music</h4>
                <p class="card-text">Text</p>
            </div>
        </div>
        
        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title text-primary">Text to Speech</h4>
                <p class="card-text">Text</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="holder.js/100x180/" alt="">
            <div class="card-body">
                <h4 class="card-title text-danger">Interactive Buttons</h4>
                <p class="card-text">Text</p>
            </div>
        </div>

    </div>
    </div>
    </div>
<%- include ("partials/footer.ejs")%>
</body>